body {
  margin: 0px 0px 0px 0px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  height: 100%;
}

.dashboard {
  background: #001935;
  color: silver;
  height: 100vh;
}

.dashboard>*{
  display: grid;
  position: absolute;
}