body {
  margin: 0px 0px 0px 0px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* height: 100%; */
}

.dashboard {
  background: #001935;
  color: silver;
  min-height: 100vh;
width: 100%;
display: flex;
}

.centre-wrapper {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  max-width: 625px;
  width: 100%;
}

.post-maker{
  align-items: center;
background: white;
border-radius: 3px;
box-sizing: border-box;
display: flex;
justify-content: space-between;
margin-bottom: 20px;
min-height: 100px;
padding: 15px 5px;
position: relative;
}

.sidebar{
  flex: 1;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
}